In [1]:
print("Hello")

Hello

In [2]:
print("Hello")

Hello

In [3]:
2==2

True

In [4]:
1==0

False

In [5]:
2!=1

True

In [6]:
2!=2

False

In [7]:
2>4

False

In [8]:
2<1

False

In [9]:
2<4

True

In [10]:
2>=2

True

In [11]:
2>=1

True

In [12]:
2<=2

True

In [13]:
2<=4

True

In [14]:
if true:
    print("it was true!")

NameError: name 'true' is not defined

In [15]:
if Ture:
    print("it was true!")

NameError: name 'Ture' is not defined

In [16]:
if True:
    print("it was ture!")

it was ture!

In [17]:
if False:
    print("it was false")

In [18]:
if (2<3):
    print("true")

true

In [19]:
x=False
if x:
    print("x was True!")
else:
    print("I will be printed in any case where x is not true")

I will be printed in any case where x is not true

In [22]:
x=True
if x:
    print("x was True!")
else:
    print("I will be printed in any case where x is not true")

x was True!

In [21]:
x=True
if x:
    print("x was True!")
else:
    print("I will be printed in any case where x is not true")

x was True!

In [27]:
loc ='Bank'
if loc == 'Auto Shop':
    print("welcome to the auto shop")
elif loc == 'Bank': 
    print("welcome to the Bank")
else:
    print("where are you")

welcome to the Bank

In [28]:
loc ='home'
if loc == 'Auto Shop':
    print("welcome to the auto shop")
elif loc == 'Bank': 
    print("welcome to the Bank")
else:
    print("where are you")

where are you

In [29]:
list1=[1,2,3,4,5,6,7,8,9,10]
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10

# python

### python

# list1=[1,2,3,4,5,6,7,8,9,10]

In [6]:
for num in range(6):
    for i in range(num):
        print('*',end=" ")
    print("\n")

*

* *

* * *

* * * *

* * * * *

In [32]:
list1=[1,2,3,4,5,6,7,8,9,10]
for num in list1:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [39]:
list1=[1,2,3,4,5,6,7,8,9]
list_sum = 0
for num in list1:
  list_sum += num
print(list_sum)

45

In [36]:
list1=[1,2,3,4,5,6,7,8,9,10]

In [43]:
x = 0

while x < 3:
    print("x is currently: ",x)
    print("x is still less than 10, adding 1 x")
    x+=1
    #x++

x is currently:  0
x is still less than 10, adding 1 x
x is currently:  1
x is still less than 10, adding 1 x
x is currently:  2
x is still less than 10, adding 1 x

In [49]:
x = 0

while x < 10:
    print("x is currently: ",x)
    print("x is still less than 10, adding 1 x")
    x+=1
    if x==3:
        
        print("breking becouse x==3")
        break
    else:
        print("continueing...")
        continue

x is currently:  0
x is still less than 10, adding 1 x
continueing...
x is currently:  1
x is still less than 10, adding 1 x
continueing...
x is currently:  2
x is still less than 10, adding 1 x
breking becouse x==3

In [1]:
range(0,11)

range(0, 11)

In [2]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [5]:
list(range(0,101,10))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [6]:
'x' in ['x','y','z']

True

In [7]:
'x' in [1,2,3]

False

In [8]:
mylist = [10,20,30,40,100]

In [9]:
min(mylist)

10

In [10]:
max(mylist)

100

In [14]:
from random import shuffle

In [15]:
shuffle(mylist)

In [16]:
mylist

[30, 20, 10, 40, 100]

In [17]:
name = input("enter name:")
print(name)

enter name:lavanya
lavanya

# addtion os 2 number

In [19]:
n1 = int(input('enter num1  :'))
n2 = int(input('enter num2  :'))
s = n1+n2
print('sum =',s)

enter num1  :10
enter num2  :20
sum = 30

# factorial of a number

In [21]:
num = int(input('enter a number  :'))
fact = 1
for i in range(1,num+1):
    fact = fact * i
print(fact)

enter a number  :5
120

# Even odd

In [24]:
a = int(input(' Enter a number'))
if a%2==0:
        print("even no")
else:
        print("odd no")

 Enter a number10
even no

# pos,neg,zero

In [29]:
b = int(input('enter a number :'))
if b > 0:
    print('positive no')
elif b < 0:
    print('negative no')
else:
    print('Zero')

enter a number :0
Zero

#nfgkkklll

##lavanya

In [32]:
n1 = int(input('enter number1='))
n2 = int(input('enter number2='))
n3 = int(input('enter number3='))
max(n1,n2,n3)

enter number1=20
enter number2=30
enter number3=10

30

In [33]:
lst = [1,2,3,4,5]

In [34]:
lst.append(6)

In [35]:
lst

[1, 2, 3, 4, 5, 6]

In [38]:
lst.count(4)

1

In [37]:
lst

[1, 2, 3, 4, 5, 6]

In [39]:
def say_hello():
    print('hello')
    print('bye')

In [40]:
say_hello()

hello
bye

In [41]:
def add_num(n1,n2):
    return n1+n2

In [43]:
add_num(10,4)

14

In [44]:
result = add_num(4,5)

In [45]:
print(result)

9

In [56]:
n1 = int(input('enter n1='))
n2 = int(input('enter n2='))
def add_num(n1,n2):
    return n1+n2

enter n1=10
enter n2=20

In [57]:
add_num(n1,n2)

30

In [61]:
n1 = int(input('enter n1='))
n2 = int(input('enter n2='))
def add_num(n1,n2):
    return n1+n2
print(n1+n2)

enter n1=10
enter n2=20
30

In [63]:
def is_prime(num):
    for n in range(2,num):
        if num % n == 0:
            print(num,'is not prime')
            break
    else: 
        print(num,'is prime')

In [70]:
is_prime(5)

5 is prime